DEPLOYER_PRIVATE_KEY=
ROBINHOOD_RPC_URL=
ETHEREUM_RPC_URL=
BASE_RPC_URL=
BSC_RPC_URL=
LOCK_CREATION_FEE=0.01
MAX_LOCK_CREATION_FEE=0.05
FOUNDER_FEE_RECIPIENT=
COMMUNITY_FEE_RECIPIENT=
FOUNDER_FEE_SHARE_BPS=2000
MAX_FOUNDER_FEE_SHARE_BPS=2000
